.Episode{
    display: flex;
    box-sizing: border-box;
    border: solid 1px black;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.Episode a{
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.Episodes{
    display: flex;
    flex-wrap: wrap;
}
.buttonsCont{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.buttonsCont button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
}
