.Header{
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Header h1{
    color: snow;
    font-size: 70px;
}
.Header p{
    color: snow;
}